version: "3.3"

services:
  db:
    container_name: dofacts-panel-db
    image: postgres:12.2
    ports:
      - "5434:5432"
    volumes:
      - postgres_volume:/var/lib/postgresql
    env_file:
      - dofacts/.env
  api:
    container_name: dofacts-panel-api
    build:
      context: .
      dockerfile: Dockerfile-dev
    command: bash -c "sleep 2s && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8081:8000"
    volumes:
      - ./dofacts:/app/dofacts
      - ./tests:/app/tests
      - ./data/media:/public/media
    depends_on:
      - db
    env_file:
      - dofacts/.env
    stdin_open: true
    tty: true
volumes:
  postgres_volume:
